.removerAlunoMain {
  width: 100%;
}

.editarAlunoComponent {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #eee;
}

.editarAlunoComponentNome {
  max-width: 20%;
}
