.loginContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.loginContainerLogoImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  padding: 16px
}

.loginContainerDivP {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.loginContainerP {
  color: #ea4c89;
  cursor: pointer;
}

.loginContainerP:hover {
  display: block;
  border-bottom: 1px solid #ea4c89;
}
