.homeBoxsComponentContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}

.homeBoxsComponentBox {
  width: 90%;
  height: 96px;
  background-color: #ea4c89;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.homeBoxsComponentP {
  color: #ffffff;
  font-size: 1rem;
  padding: 0 4px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.homeBoxsComponentIcon {
  padding: 4px;
}
